@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;600;700&display=swap');

* {
  font-family: Quicksand;
}

/* jumbotron-element img {
  height: 40em;
}

jumbotron-element .carousel-caption {
  margin-bottom: 220px;
}

jumbotron-element .carousel-caption h5 {
  font-weight: bold;
  font-size: 40px;
}

jumbotron-element .carousel-caption p {
  font-size: 18px;
  margin: 16px;
}

jumbotron-element .carousel-caption .btn {
  color: white;
  font-weight: 700;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 14px;
}

jumbotron-element .carousel-caption .btn:hover {
  background-color: #FF884B;
  font-weight: 700;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 14px;
  border-color: #FF884B;
} */